<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.melanieh.inventoryapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/catalog_appbar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CatalogActivity"
            android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailActivity"
            android:label="@string/detail_appbar"
            android:configChanges="keyboardHidden"
            android:parentActivityName=".CatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mailto:"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The OPENABLE category declares that the returned file is accessible
                     from a content provider that supports OpenableColumns
                     and ContentResolver.openFileDescriptor() -->
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CatalogActivity"/>
        </activity>

        <activity
            android:name=".EditProductActivity"
            android:configChanges="keyboardHidden"
            android:parentActivityName=".CatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The OPENABLE category declares that the returned file is accessible
                     from a content provider that supports OpenableColumns
                     and ContentResolver.openFileDescriptor() -->
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CatalogActivity"/>
        </activity>

    </application>

</manifest>